In [ ]:
'''
*Bascis of command prompt
--cd: current directory/file location
--dir: It will show all files/folders under the current directory
--cd folder: for eg. cd Desktop will change the current dir to desktop
--cls: clean all the commands before
'''

Basic Data Types in Python

In [ ]:
''' 
#Name            Type           Description
Integer          int             1,2,3 etc.
Floating point   float           1.1,9.9 etc.
Strings          str             "Hello"                       Ordered & Immutable(meaning you can't use indexing to change                                                                                        individual elements of a string)
#data structures
List             list            a=[1,2,3,4,'Hi']              Ordered
Dictionary       dict            a={'a':1,'b':2,'c':3,'d':4}   Unordered and Key Value pair: Mutable values
Tuple            tuple           a=(1,2,3,'a')                 Ordered and Immutable
Set              set             a={1,2,3,4}                   Unordered and unique objects: Mutable
Boolean          bool            True/False
'''|

Integers

In [4]:
a=256
b=10000
a+b

10256

In [6]:
type(a)

int

Strings

In [7]:
s='Shriya'

In [8]:
s

'Shriya'

In [9]:
#Immutability
s[1]

'h'

In [10]:
s[1]='a'

TypeError: 'str' object does not support item assignment

In [11]:
s[-1]

'a'

In [24]:
#slicing: a[start:stop:step]
'Helloandwelcome'[::2]

'Hlonwloe'

In [21]:
#length
len(s)

6

In [22]:
#slicing
s[2:]

'riya'

In [23]:
s[:3]

'Shr'

In [27]:
#slicing concept: use of -1 and '' in slicing

'Helloandwelcome'[::2]
#includes last letter

'Hlonwloe'

In [28]:
'Helloandwelcome'[:-1:2]
#excludes last letter

'Hlonwlo'

In [29]:
#String Concatenation
'Hello'+'World'

'HelloWorld'

In [30]:
x='Hello World'

In [32]:
x+' Welcome'

'Hello World Welcome'

In [35]:
x=x+' Welcome'

In [36]:
x

'Hello World Welcome Welcome'

In [37]:
'2'+'3'

'23'

In [38]:
# Methods do not affect original string
x.split()

['Hello', 'World', 'Welcome', 'Welcome']

In [39]:
x.upper()

'HELLO WORLD WELCOME WELCOME'

In [40]:
x.split('l')

['He', '', 'o Wor', 'd We', 'come We', 'come']

In [ ]:
''' Print Formatting/ String Interpolation
method 1. .format()
method 2. f-string(formatted string literals)

In [42]:
#.format(): strings can actuallay be inserted using index position
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [45]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [46]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [47]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [48]:
result=100/99

In [49]:
result

1.0101010101010102

In [51]:
print('The result is {r}'.format(r=result))

The result is 1.01

In [52]:
#{r:width.precision f}
print('The result is {r:1.3f}'.format(r=result))

The result is 1.010

In [ ]:
#method 2: string literal

In [53]:
name='jose'

In [54]:
print(f'The name is {name}')

The name is jose

In [55]:
name='Sam'
age=10
print(f'{name} is {age} years old')

Sam is 10 years old

Lists : Ordered seq, can hold variety of objects , support indexing/slicing/nesting of list inside list

In [56]:
mylist=['Hello',100,1.1]

In [57]:
len(mylist)

3

In [58]:
mylist=['one','two','three']

In [60]:
mylist[1:]

['two', 'three']

In [61]:
#list concatenation
another_list=[1,2,3]
mylist+another_list

['one', 'two', 'three', 1, 2, 3]

In [64]:
#Mutable
another_list[0]=0

In [65]:
another_list

[0, 2, 3]

In [66]:
#append: add items at the end of list
another_list.append(4)

In [67]:
another_list

[0, 2, 3, 4]

In [68]:
#pop: remove element 
another_list.pop()

4

In [69]:
another_list

[0, 2, 3]

In [70]:
popped_item=another_list.pop(0)

In [71]:
popped_item

0

In [72]:
another_list

[2, 3]

In [74]:
#sort the list
new_list=['a','d','z','j','s','b']

In [75]:
new_list.sort()

In [76]:
new_list

['a', 'b', 'd', 'j', 's', 'z']

In [77]:
#reverse
new_list.reverse()

In [78]:
new_list

['z', 's', 'j', 'd', 'b', 'a']

In [79]:
#indexing nested list
a=[1,2,[3,4,5]]

In [80]:
a[2][2]

5

Dictionaries: Unordered key-value pair sequence, allows to quickly grab object without need of knowing the index location, 
Objects in dictionary cannot be sorted.

In [81]:
mydict={'key1':'val1','key2':'val2'}

In [82]:
mydict

{'key1': 'val1', 'key2': 'val2'}

In [83]:
#grab a value from dictionary using key
mydict['key1']

'val1'

In [84]:
#eg. prices in store
prices={'apples':2.99,'oranges':1.99,'milk':5.80}

In [85]:
prices

{'apples': 2.99, 'oranges': 1.99, 'milk': 5.8}

In [86]:
prices['apples']

2.99

In [91]:
d={'k1':123,'k2':[1,2,3],'k3':{'insidekey':100,'k2':'pink'}}

In [92]:
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'insidekey': 100, 'k2': 'pink'}}

In [93]:
d['k2']

[1, 2, 3]

In [94]:
d['k3']['k2']

'pink'

In [95]:
d['k2'][1]

2

In [96]:
d={'key1':['a','b','c']}

In [97]:
d['key1'][2].upper()

'C'

In [99]:
#mutable values
d={'k1':100,'k2':200}

In [101]:
d['k2']=95

In [102]:
d

{'k1': 100, 'k2': 95}

In [103]:
#add element to dict
d['k3']=300

In [104]:
d

{'k1': 100, 'k2': 95, 'k3': 300}

In [ ]:
# Methods for dictionaries

In [105]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [106]:
d.values()

dict_values([100, 95, 300])

In [107]:
#d.items() will gove key value pair in tuples format
d.items()

dict_items([('k1', 100), ('k2', 95), ('k3', 300)])

Tuples(): Similar to list but Immutable

In [109]:
t=(1,2,3)
type(t)

tuple

In [110]:
mylist=[1,2,3]
type(mylist)

list

In [111]:
t=('one',2)

In [112]:
t[0]

'one'

In [113]:
t[-1]

2

In [114]:
# Methods

In [115]:
t=('a','a','b')

In [116]:
t

('a', 'a', 'b')

In [118]:
#Number of occurance
t.count('a')

2

In [119]:
#Index of first apprearance
t.index('a')

0

In [120]:
t.index('b')

2

In [121]:
# Immutable
t[1]='k'

TypeError: 'tuple' object does not support item assignment

In [122]:
# Benefits of Tuples:
# When you are passing objects in program and need to make sure the values will not get accidently changed/filpped

Sets: Unordered sequence of unique elements

In [123]:
myset=set()

In [124]:
myset

set()

In [125]:
myset.add(1)

In [126]:
myset

{1}

In [127]:
myset.add(2)

In [128]:
myset

{1, 2}

In [129]:
myset.add(2)

In [130]:
myset

{1, 2}

In [131]:
#cast list with repeated values to a set
mylist=[1,1,1,3,3,3,3,3,2,2,2,2,2,2,2,2,5,5,5,5]

In [132]:
set(mylist)

{1, 2, 3, 5}

In [133]:
# Using string inside set
set('Mississippi')

{'M', 'i', 'p', 's'}

Boolean

In [135]:
1>2

False

In [139]:
(1+1)>2

False

I/O with basic file

In [ ]:
#open file test and write 'Hello World' in it and close it.
x=open('test.txt','w')
x.write('Hello World')
x.close()